#main
{
	margin:0 auto;
	height:auto;
	width:100%;
}
#wrapper
{
	float:left;
	height:auto;
	width:100%;}
#header
{
	float:left;
	height:100px;
	width:100%;
	border:1px solid #000;
}

#middle
{
	float:left;
	height:570px;
	width:100%;
	border:1px solid #000;
}
#content1
{
	float:left;
	height:350px;
	width:1000px;
	margin:0px;
	border: solid color(black);
	background-size:100% 100%;
	color:#000;}
#content2
{
	float:left;
	height:350px;
	width:570px;
	margin:35px;
	background-size:100% 100%;}

#footer
{
	float:left;
	margin:0px;
	height:40px;
	text-align:center;
	width:100%;
	border:1px solid #000;
	}

