{% extends 'template2.html' %}
{% block m3 %}

<h1>Profile</h1>
{% if result %}
    <form method="post" action="student_profile">
        <p>Name : <input type="text" name="T1" value="{{result[0]}}" /></p>
        <p>Branch:<input type="text" name="T2" value="{{result[1]}}" /></p>
        <p>Rollno:<input type="text" name="T3" value="{{result[2]}}" /></p>
        <p>Contact:<input type="text" name="T4" value="{{result[3]}}" /></p>
        <p>Email: <input type="text" name="T5" value="{{result[4]}}" /></p>
        <p>
        <input type="submit" name="B1" id="B1" value="Save">
        </p>
    </form>

{% endif %}

{% endblock %}
