<html>
<head>
<title>Template</title>
<link href="../static/temp1/template.css" rel="stylesheet" type="text/css">
<!-- Start WOWSlider.com HEAD section --> <!-- add to the <head> of your page -->
	<link rel="stylesheet" type="text/css" href="../static/temp1/engine1/style.css" />
	<script type="text/javascript" src="../static/temp1/engine1/jquery.js"></script>
	<!-- End WOWSlider.com HEAD section -->

</head>

<body>
<div id="main">
	<div id="wrapper">
    	<div id="header">
			<div id="content4">
            
            </div>
        
        </div>
                <div id="slider">
        		
					<!-- Start WOWSlider.com BODY section --> <!-- add to the <body> of your page -->
	<div id="wowslider-container1">
	<div class="ws_images"><ul>
		<li><img src="../static/temp1/data1/images/img_1.png" alt="img_1" title="img_1" id="wows1_0"/></li>
		<li><img src="../static/temp1/data1/images/img_2.jpg" alt="img_2" title="img_2" id="wows1_1"/></li>
		<li><img src="../static/temp1/data1/images/q_a_4.jpg" alt="q_a_4" title="q_a_4" id="wows1_2"/></li>
		<li><a href="http://wowslider.net"><img src="../static/temp1/data1/images/sol_img_4.png" alt="image carousel" title="Sol_img_4" id="wows1_3"/></a></li>
		<li><img src="../static/temp1/data1/images/q_a_3.jpg" alt="q_a_3" title="q_a_3" id="wows1_4"/></li>
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title="img_1"><span><img src="../static/temp1/data1/tooltips/img_1.png" alt="img_1"/>1</span></a>
		<a href="#" title="img_2"><span><img src="../static/temp1/data1/tooltips/img_2.jpg" alt="img_2"/>2</span></a>
		<a href="#" title="q_a_4"><span><img src="../static/temp1/data1/tooltips/q_a_4.jpg" alt="q_a_4"/>3</span></a>
		<a href="#" title="Sol_img_4"><span><img src="../static/temp1/data1/tooltips/sol_img_4.png" alt="Sol_img_4"/>4</span></a>
		<a href="#" title="q_a_3"><span><img src="../static/temp1/data1/tooltips/q_a_3.jpg" alt="q_a_3"/>5</span></a>
	</div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">bootstrap slider</a> by WOWSlider.com v8.8</div>
	<div class="ws_shadow"></div>
	</div>	
	<script type="text/javascript" src="../static/temp1/engine1/wowslider.js"></script>
	<script type="text/javascript" src="../static/temp1/engine1/script.js"></script>
	<!-- End WOWSlider.com BODY section -->

        		</div>	
        <div id="middle">
        	<div id="content1">
            
            </div>
            <div id="content2">
                {% block m1 %}
                {% endblock %}
            </div>
            <div id="content3">
            
            </div>
        
        </div>
    
    </div>
    
    <div id="footer">
    	<span style="margin-top:0px; font-size:27px; margin-top:0px;">copyright &copy; By Rahulyadav 2019
    	<a href="http://www.facebook.com"><img src="../../Project Photos/Facebook.png" height="40" width="40" style="margin-left:20px; margin-top:10px;"></a>
        <a href="http:"><img src="../../Project Photos/Google-Plus-Icon.png" height="40" width="40" style="margin-left:20px; margin-top:10px;">
        <a href="https://www.linkedin.com/in/rahul-yadav-661a6a15b"><img src="../../Project Photos/LinkedIn.png" height="40" width="40" style="margin-left:20px; margin-top:10px;"></a>
        <a href="https://twitter.com/Rahul_J_yadav"><img src="../../Project Photos/Twitter.png" height="40" width="40" style="margin-left:20px; margin-top:10px;"></a>
		</span>
    </div>

</div>
</body>
</html>
