<html>
<head>
<title>Template</title>
<link href="../static/temp2/template2.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="main">
	<div id="wrapper">
    	<div id="header">
			<div id="content4">
            
            </div>
        
        </div>
                <div id="menu">
        
        		</div>	
        <div id="middle">
        	<div id="content1">
            
            </div>
            <div id="content2">
                {% block m3 %}
                {% endblock %}
            </div>
            <div id="content3">
            
            </div>
        
        </div>
    
    </div>
    
    <div id="footer">
    	<span style="margin-top:px; font-size:27px; margin-top:0px;">copyright &copy; By Rahulyadav 2019
    	<a href="http://www.facebook.com"><img src="../../Project Photos/Facebook.png" height="40" width="40" style="margin-left:20px; margin-top:10px;"></a>
        <a href="http:"><img src="../../Project Photos/Google-Plus-Icon.png" height="40" width="40" style="margin-left:20px; margin-top:10px;">
        <a href="https://www.linkedin.com/in/rahul-yadav-661a6a15b"><img src="../../Project Photos/LinkedIn.png" height="40" width="40" style="margin-left:20px; margin-top:10px;"></a>
        <a href="https://twitter.com/Rahul_J_yadav"><img src="../../Project Photos/Twitter.png" height="40" width="40" style="margin-left:20px; margin-top:10px;"></a>
		</span>
    </div>

</div>
</body>
</html>
